<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.BookshelfnowMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Bookshelfnow" >
    <constructor >
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="book_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="add_time" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="last_chapter" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.pojo.Bookshelfnow" >
    insert into bookshelfnow (user_id, book_id, add_time, 
      last_chapter)
    values (#{userId,jdbcType=INTEGER}, #{bookId,jdbcType=INTEGER}, #{addTime,jdbcType=DATE}, 
      #{lastChapter,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Bookshelfnow" >
    insert into bookshelfnow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="lastChapter != null" >
        last_chapter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=DATE},
      </if>
      <if test="lastChapter != null" >
        #{lastChapter,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>