<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.DynamicstatusMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Dynamicstatus" >
    <constructor >
      <arg column="status_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status_value" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.pojo.Dynamicstatus" >
    insert into dynamicstatus (status_name, status_value)
    values (#{statusName,jdbcType=VARCHAR}, #{statusValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Dynamicstatus" >
    insert into dynamicstatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="statusName != null" >
        status_name,
      </if>
      <if test="statusValue != null" >
        status_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="statusValue != null" >
        #{statusValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>