<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.FathertypeMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Fathertype" >
    <constructor >
      <idArg column="father_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    father_type, type_name, sex
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fathertype
    where father_type = #{fatherType,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fathertype
    where father_type = #{fatherType,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Fathertype" >
    insert into fathertype (father_type, type_name, sex
      )
    values (#{fatherType,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Fathertype" >
    insert into fathertype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fatherType != null" >
        father_type,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fatherType != null" >
        #{fatherType,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Fathertype" >
    update fathertype
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
    </set>
    where father_type = #{fatherType,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Fathertype" >
    update fathertype
    set type_name = #{typeName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER}
    where father_type = #{fatherType,jdbcType=INTEGER}
  </update>
</mapper>